* {
    -fx-background-color: inherit;
    -fx-text-fill: #eeeeee;
    -fx-prompt-text-fill: #eeeeee;
}

.background {
    -fx-background-color: #151515;
}

.top-bar {
    -fx-padding: 10 20;
    -fx-background-color: #101010;
    -fx-text-fill: #eeeeee;
    -fx-background-radius: 0 0 8 8;
}

.top-bar * {
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.friends-vbox {
    -fx-padding: 20;
    -fx-pref-width: 220;
    -fx-background-radius: 8 0 0 0;
    -fx-background-color: #121212;
}

.menu-vbox {
    -fx-padding: 20;
    -fx-pref-width: 220;
    -fx-background-radius: 0 8 0 0;
    -fx-background-color: #121212;
}
.menu-vbox > * {
    -fx-padding: 12;
}

.content-vbox {
    -fx-padding: 20 60;
    -fx-background-color: #151515;
    -fx-min-width: 500;
}

.content-vbox > * {
    -fx-background-color: inherit;
}

.h1{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.h2{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.h3{
    -fx-font-size: 14;
}

.h2-accent {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #454ADE;
    -fx-background-color: #eeeeee;
    -fx-background-radius: 6;
    -fx-padding: 0 6;
}

.recommended {
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeee;
    -fx-background-color: #454ADE;
    -fx-background-radius: 6 6 6 0;
    -fx-padding: 0 6;
}

.menu-vbox-hbox:hover {
    -fx-background-radius: 8;
    -fx-background-color: #121212;
}

.menu-vbox-button{
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.menu-vbox-button:hover{
    -fx-text-fill: #454ADE;
    -fx-animated: 2s;
}

.menu-vbox-button:focused{
    -fx-text-fill: #454ADE;
}

.flows-title-hbox {
    -fx-position-shape: fixed;
}

.like-vbox {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
    -fx-spacing: 2;
}

.like-button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-background-radius: 4;
    -fx-animated: 2s;
}

.like-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-color: #44444444;
}

.like-label {
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-alignment: center;
}

.flows-scroll-pane {
    -fx-background-color: inherit;
}

.flows-vbox {
    -fx-background-color: #151515;
    -fx-padding: 12 0;
}

.flow-container-hbox {
    -fx-spacing: 8;
    -fx-padding: 16 8;
    -fx-background-color: linear-gradient(to top, #121212 -5%, transparent);
}

.flow-container-vbox {
    -fx-background-color: transparent;
    -fx-alignment: bottom-center;
}

.flow-info-vbox {
    -fx-spacing: 4;
    -fx-padding: 0 8;
    -fx-background-color: transparent;
}

.flow-username-label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-color: transparent;
}

.flow-title-label {
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: #cdcdcd;
    -fx-background-color: #212121;
    -fx-fill-width: true;
    -fx-padding: 2 6;
    -fx-background-radius: 2;
}

.flow-caption-label {
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: #ababab;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-wrap-text: false;
}

.flow-caption-label:hover {
    -fx-underline: true;
    -fx-background-color: transparent;
}

.flow-caption-label-unwrap {
    -fx-padding: 0 2;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: #ababab;
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-wrap-text: true;
    -fx-cursor: hand;
}

.flow-caption-label-unwrap:hover {
    -fx-background-color: #21212188;
}

.flow-createdAt-label {
    -fx-font-size: 10;
    -fx-text-fill: #ababab;
    -fx-background-color: transparent;
}

.refresh-button {
    -fx-cursor: hand;
    -fx-background-color: #151515;
    -fx-background-radius: 12;
    -fx-padding: 2 8;
    -fx-animated: 2s;
}

.refresh-button image-view {
    -fx-fit-to-width: 20;
    -fx-fit-to-height: 20;
}

.refresh-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #21212188;
}

.comment-title-label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 2 6;
}

.comment-section {
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: #212121;
    -fx-padding: 12 12 0 12;
    -fx-spacing: 6;
}

.comment {
    -fx-padding: 4 8;
    -fx-spacing: 2;
}

.comment-user-label {
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.comment-created-at {
    -fx-font-size: 9;
    -fx-text-fill: #cdcdcd;
}

.comment-text-label {
    -fx-wrap-text: true;
}