* {
    -fx-background-color: #121212;
    -fx-text-fill: #eeeeee;
    -fx-prompt-text-fill: #eeeeee;
}

.top-bar {
    -fx-padding: 10 20;
    -fx-background-color: #101010;
    -fx-text-fill: #eeeeee;
    -fx-background-radius: 0 0 8 8;
}

.top-bar * {
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.friends-vbox {
    -fx-padding: 20;
    -fx-pref-width: 220;
    -fx-background-radius: 8 0 0 0;
}

.friends-vbox * {
    -fx-background-color: inherit;
}

.menu-vbox {
    -fx-padding: 20;
    -fx-pref-width: 220;
    -fx-background-radius: 0 8 0 0;
}
.menu-vbox > * {
    -fx-padding: 12;
    -fx-background-color: inherit;
}

.content-vbox {
    -fx-padding: 20 60;
    -fx-background-color: #151515;
    -fx-min-width: 500;
}

.content-vbox * {
    -fx-background-color: inherit;
}

.h1{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.h2{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.h3{
    -fx-font-size: 14;
}

.h2-accent {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #454ADE;
    -fx-background-color: #eeeeee;
    -fx-background-radius: 6;
    -fx-padding: 0 6;
}

.recommended {
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeee;
    -fx-background-color: #454ADE;
    -fx-background-radius: 6 6 6 0;
    -fx-padding: 0 6;
}

.menu-vbox-hbox:hover {
    -fx-background-radius: 8;
    -fx-background-color: #121212;
}

.menu-vbox-button{
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.menu-vbox-button:hover{
    -fx-text-fill: #454ADE;
    -fx-animated: 2s;
}

.menu-vbox-button:focused{
    -fx-text-fill: #454ADE;
}

.flows-title-hbox {
    -fx-position-shape: fixed;
}

.like-vbox {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
    -fx-spacing: 2;
}

.like-button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-background-radius: 4;
}

.like-button:hover {
    -fx-background-color: #44444444;
}

.like-label {
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-alignment: center;
}